<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Delete Form</h1>
<a href="/music/list">Back to list</a>
<form th:action="@{/music/delete}" method="post" th:object="${music}">
    <table border="1">
        <tr>
            <td>Id</td>
            <td><input type="text" th:field="*{id}" th:value="*{id}" readonly></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}" th:value="*{name}" readonly></td>
        </tr>
        <tr>
            <td>Singer</td>
            <td><input type="text" th:field="*{singer}" th:value="*{singer}" readonly></td>
        </tr>
        <tr>
            <td>Type Of Song</td>
            <td><input type="text" th:field="*{typeOfSong}" th:value="*{typeOfSong}" readonly></td>
        </tr>
        <tr>
            <td>Link</td>
            <td><input type="text" th:field="*{url}" th:value="*{url}" readonly></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="reset">Reset</button>
                <button type="">Delete</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>