<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Danh sách sinh viên</h1>
<a href="/blog/create">Add new</a>
<br>
<a href="/blog/list">Category List</a>
<form action="/blog/page">
    <input name="searchName" placeholder="nhập tên" th:value="${searchName}">
    <button>Search</button>
</form>
<table border="1">
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>Name Blog</th>
        <th>Author</th>
        <th>Date</th>
        <th>Content Of Blog</th>
        <th>Description</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Detail</th>
    </tr>
    <tr th:each="blog,row :${pages}">
        <td th:text="${row.count}"></td>
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.nameBlog}"></td>
        <td th:text="${blog.author}"></td>
        <td th:text="${blog.dateUpdate}"></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.description}"></td>
        <td th:text="${blog.category.name}"></td>
        <td><a th:href="@{/blog/edit/__${blog.id}__}">Edit</a></td>
        <td><a th:href="@{/blog/delete/__${blog.id}__}">Delete</a></td>
        <td><a th:href="@{/blog/detail/__${blog.id}__}">Detail</a></td>
    </tr>
    <tr th:if="${pages.isEmpty()}">
        <td colspan="7">Danh sách trống</td>
    </tr>
</table>


<a th:href="@{/blog/page(page =${pages.number - 1},searchName=${searchName})}"
   th:if="${pages.hasPrevious()}">Previous</a>
<span th:text="${pages.number+1}"></span>/<span th:text="${pages.totalPages}"></span>
<a th:href="@{/blog/page(page =${pages.number + 1},searchName=${searchName})}" th:if="${pages.hasNext()}">Next</a>

</body>
</html>