<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/product/create}" method="post" th:object="${product}">
    <table border="1">
        <tr>
            <td>Id</td>
            <td><input type="text" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td><input type="text" th:field="*{quantity}"></td>
        </tr>
        <tr>
            <td>Country</td>
            <td><input type="text" th:field="*{country}"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="reset">Reset</button>
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>